{% extends "index_admin.html" %}
{%  block body %}

    <div>
        <h3 class="mt-4"> Change Password </h3> <br>
    </div>

<form id="form1" name="form1" method="post" action="/admin_change_username_password_post">
    <table class="table">

        <tr>
            <td> Enter Current Username </td>
            <td> <input class="form-control" type="text" name="textfield1" id="textfield1"/> </td>
        </tr>

        <tr>
            <td> Enter Your Password </td>
            <td> <input class="form-control" type="text" name="textfield2" id="textfield2"/> </td>
        </tr>

        <tr>
            <td> Enter New Username </td>
            <td> <input class="form-control" type="text" name="textfield3" id="textfield3"/> </td>
        </tr>

        <tr>
            <td> Enter New Password  </td>
            <td> <input class="form-control" type="text" name="textfield4" id="textfield4"/> </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td><input class="btn btn-success" type="submit" name="update1" id="button" value="Update" /></td>
        </tr>

    </table>
</form>

{% endblock %}