{#provider_magazine_management.html#}

{% extends "index_provider.html" %}
{%  block body %}

    <div>
        <h3 class="mt-4"> Add Magazine </h3> <br>
    </div>

<form id="form1" name="form1" method="post" action="/provider_magazine_management_post">
    <table class="table">

        <tr>
            <td> Magazine Name </td>
            <td> <input class="form-control" type="text" name="textfield1" id="textfield1"/> </td>
        </tr>

        <tr>
            <td> Language </td>
            <td> <input class="form-control" type="text" name="textfield2" id="textfield2"/> </td>
        </tr>

        <tr>
            <td> Price </td>
            <td> <input class="form-control" type="text" name="textfield3" id="textfield3"/> </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td> <input class="btn btn-success" type="submit" name="register" id="register" value="Submit"/> </td>
        </tr>

    </table>
</form>

{% endblock %}
