{#provider_edition_language_management.html#}

{% extends "index_provider.html" %}
{%  block body %}

    <div>
        <h3 class="mt-4"> Add Edition Language </h3> <br>
    </div>

<form id="form1" name="form1" method="post" action="/provider_edition_language_management_post">
    <table class="table">

        <tr>
            <td> Edition </td>
            <td> <select class="form-control" name = "edition" >
                {% for i in data %}
                    <option value = "{{ i ["edition_id"]}}"> {{ i["edition_place"] }} </option>
                {% endfor %}
            </select>
            </td>
        </tr>

        <tr>
            <td> Edition Language </td>
            <td> <input class="form-control" type="text" name="textfield2" id="textfield2"/> </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td> <input class="btn btn-success" type="submit" name="register" id="register" value="Submit"/> </td>
        </tr>

    </table>
</form>
{% endblock %}